$blue: #253F5D;
$red: #F54623;
$lightGray: #D8D8D8;
$darkGray: #737373;

//Montserrat Font
@font-face {
  font-family: 'montserratregular';
  src: url('../../font/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
  url('../../font/Montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

//Toggle Options
.red {
  color: $red;
}

//No Scrollbar
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $lightGray;
  #top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #titleNamesContainer {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #title {
        display: inline-block;
        color: $darkGray;
        font-size: 3em;
      }
      #names {
        display: inline-block;
        font-size: 1.5em;
        color: $darkGray;
        opacity: .75;
        #rachelName {
          margin-right: 1.5em;
        }
      }
    }
    #links {
      .rachelLinks, .tonyLinks {
        width: 100%;
        display: flex;
        justify-content: space-around;
        a {
          text-decoration: none;
          color: $red;
        }
        a:hover {
          opacity: .75;
        }
      }
    }
    #svg {
      overflow: hidden;
      img {
        margin-left: -1%;
        width: 102%;
      }
    }
  }
  #bottom {
    background-color: $blue;
    width: 100%;
    margin-top: -5px;
    padding-bottom: 5px;
    #skills {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .between {
        display: flex;
        justify-content: space-between;
      }
      .around {
        display: flex;
        justify-content: space-around;
      }
      .center {
        display: flex;
        justify-content: center;
      }
    }
  }
}